* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    display: flex;
    flex-direction: row;
    height: 1175px;
}

.aside {
    width: 250px;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 83px;
    padding-top: 31px;
}

.wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.header {
    height: 100px;
}

.nav-item {
    display: flex;
    align-items: center;
    gap: 26px;
    height: 60px;
    padding-left: 35px;
    color: rgba(177, 177, 177, 1);
    font-size: 18px;
}

.nav__item__active {
    height: 60px;
    width: 6px;
    background-color: blue;
    position: absolute;
    left: 0px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.blue {
    color: rgba(45, 96, 255, 1);
}


.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

.header-buttons {
    display: flex;
    align-items: center;
    gap: 30px;
}

.search {
    background-color: rgba(245, 247, 250, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    width: 255px;
    height: 50px;
    border-radius: 40px;
    gap: 20px;
}

input {
    border: 0;
    background-color: rgba(245, 247, 250, 1);
}


.circle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 999px;
    background-color: rgba(245, 247, 250, 1);
}

.content {
    flex: 1;
    display: flex;
    justify-content: center;
    background-color: rgba(245, 247, 250, 1);
}

.content-wrapper {
    max-width: 1110px;
    flex: 1;
}

.first {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.first-titles {
    display: flex;
    justify-content: space-between;
    font-size: 22px;
    font-weight: 600;
    gap: 30;
    padding-bottom: 25px;
    padding-top: 25px;
}

.first-cards {
    gap: 30px;
    display: flex;
}

.first__card--blue {
    background: linear-gradient(107.38deg, #4C49ED 2.61%, #0A06F4 101.2%);

}

.first__card--white {
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(223, 234, 242, 1)
}

.rounder {
    border-radius: 25px;
}

.first-card {
    width: 350px;
    height: 235px;
}

.full-width {
    flex: 1;
}

.first-left {
    flex: 1;
}

.xl-card {
    height: 322px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.expense-card {
    width: 350px;
}

.blue-card-info-container {
    display: flex;
    color: white;
    justify-content: space-between;
    padding: 30px;
    font-weight: 600;
}

.Balance {
    font-weight: 400;
    font-size: 12px;
}

.card-info {
    color: white;
    display: flex;
    flex-direction: row;
    padding-top: 25px;
    padding-left: 30px;
    justify-content: space-between;
    padding-right: 20px;
}

.card-holder {
    display: flex;
    flex-direction: column;
}

.light-text {
    font-size: 12px;
    font-weight: 400;
    color: (255, 255, 255, 0.7);
}

.card-bottom {
    color: white;
    display: flex;
    padding-top: 45px;
    justify-content: space-around;
    font-size: 22px;
    font-weight: 600;
}

.black {
    color: black;
}

.card-depo-icon {
    background-color: rgba(255, 245, 217, 1);
    border-radius: 99px;
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-depo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.card-depo-text {
    font-size: 16px;
    font-weight: 500;
}

.red {
    color: red;
}

.depo-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.activity {
    display: flex;
    width: 700px;
    justify-content: flex-end;
}

.green-dot {
    width: 15px;
    height: 15px;
    background-color: rgba(22, 219, 204, 1);
    border-radius: 9px;
}

.pink-dot {
    background-color: rgba(255, 130, 172, 1);
    border-radius: 9px;
    width: 15px;
    height: 15px;
}

.activity-info {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.transfer {
    width: 445px;
    height: 276px;
}

.balance-history {
    width: 635px;
    height: 276px;
}

.team-members {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.quick-transfer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.quick-picture {
    width: 70px;
    height: 70px;
    border-radius: 99px;
}

.arrow {
    width: 50px;
    height: 50px;
    border-radius: 99px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    box-shadow: 4px 4px 18px -2px rgba(231, 228, 232, 0.8);
}

.quick-transfer-box {
    display: flex;
    flex-direction: column;
}

.Amount {
    color: rgba(113, 142, 191, 1);
}

.send {
    display: flex;
    align-items: center;
    padding-left: 22px;
    height: 100px;
    gap: 20px;
}

.money-transfer {
    display: flex;
    height: 50px;
    width: 265px;
    flex-direction: row;
    background-color: rgba(237, 241, 247, 1);
    border-radius: 50px;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
    padding-left: 50px;
    color: rgba(113, 142, 191, 1);
}

.send-box {
    display: flex;
    background-color: rgba(24, 20, 243, 1);
    box-shadow: 4px 4px 18px -2px rgba(231, 228, 232, 0.8);
    height: 50px;
    width: 250px;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 500;
    padding: 15px;
}

.light-blue {
    background-color: rgba(231, 237, 255, 1);
}

.green {
    color: rgba(65, 212, 168, 1);
}

.light-green {
    background-color: rgba(220, 250, 248, 1);
}

.menu-button {
    display: flex;
    align-items: center;
    gap: 26px;
    height: 50px;
    padding-right: 30px;
    font-size: 16px;
    font-weight: 600;
    color: rgba(177, 177, 177, 1);
    border: 0;
    background-color: white;
}

a:active {
    box-shadow: 3px 3px 3px 3px;
}

.blue-button {
    border: 0;
    background-color: rgba(24, 20, 243, 1);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    display: flex;
    justify-content: center;
    border: 0;
    background-color: rgba(245, 247, 250, 1);
    font-size: 22px;
    font-weight: 600;
}

.number {
    width: 100px;
    display: flex;
    background-color: rgba(237, 241, 247, 1);
    margin-right: -20px;
}

.underline {
    text-decoration: none;
    color: rgba(177, 177, 177, 1);
}

.active-button {
    color: blue;
    font-size: 16px;
    font-weight: 600;
}